{% extends "base.html" %}
{% block title %}
Nosotros
{% endblock title %}
{% block head %}
<div class="containerdiv">
	<div class="gx-7">
	    <div class="col">
        <div class="p-3">Nuestra Misión</div>
		<p class="p-1">Nuestra misión es proporcionarte las herramientas y el entorno necesarios para que puedas alcanzar tus metas personales de fitness. Ya sea que estés buscando mejorar tu condición física, perder peso, ganar músculo o simplemente mantenerte activo y saludable, estamos aquí para apoyarte en cada paso del camino.</p>
	</div>
	<div class="col">
		<div class="p-3">Nuestra Visión</div>
		<p class="p-1">En PredatorGYM, aspiramos a ser el referente en la comunidad de fitness, no solo como un lugar para hacer ejercicio, sino como un centro integral de bienestar y salud. Nos comprometemos a innovar continuamente, ofreciendo programas y servicios de vanguardia que inspiren y motiven a nuestros miembros a llevar una vida más saludable y equilibrada.</p>
	</div>
	</div>
</div>

<style>
	
	.p-3{
		color: #fff;
		font-size:30px;
		font-family: serif;
	}
	.p-1{
		color: #fff;
		text-align: justify;
		font-size:20px;
		font-family: roboto;
	}
	.containerdiv{
		border: white 1px;
		border-radius: 10px;
		padding: 10px
	}
	.col{
		padding:20px
	}
</style>
{% endblock head %}

